<h1>Add a New Site</h1>
<%= form_for [@user, @site] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "Enter site name" %>
  <%= f.submit "Add", class: 'btn btn-success' %>
<% end %>
<%= link_to "Back", @user %>